#!/usr/bin/env bash
set -Eeuo pipefail

_unit_test_error=0
trap 'rc=$?; _unit_test_error=1; printf "ERROR: line %s exited %s: %s\n" "$LINENO" "$rc" "$BASH_COMMAND" >&2' ERR
_unit_test_on_exit() {
    local rc=$?
    if (( rc != 0 )); then
        (( _unit_test_error )) || printf "ERROR: unit-test script exited %s\n" "$rc" >&2
        if [[ "${SIMMER_KEEP_TERMINAL:-0}" == 1 && -t 0 ]]; then
            read -r -p "Press Enter to close this terminal..." || true
        fi
    fi
}
trap _unit_test_on_exit EXIT

generate_waves=0
launch_wave_viewer=0
compile_args=()
run_args=()

while (( $# )); do
    case "$1" in
        --waves)
            generate_waves=1
            ;;
        --launch)
            generate_waves=1
            launch_wave_viewer=1
            ;;
        --compile-arg)
            compile_args+=("$2")
            shift
            ;;
        --run-arg)
            run_args+=("$2")
            shift
            ;;
        *)
            run_args+=("$1")
            ;;
    esac
    shift
done

debug_args=()
wave_args=()
if (( generate_waves )); then
    debug_args=(-kdb -debug_access+all)
    wave_args=(-ucli -do "{WAVES_RENDER_CMD_PATH}")
fi

{SIMULATOR_COMMAND} \
    -full64 \
    -sverilog \
    -licqueue \
    -timescale=100fs/100fs \
    +define+TBV \
    +define+TIMESCALE_STEP_FS=100 \
    +define+TIMESCALE_PREC_FS=100 \
    "${debug_args[@]}" \
    {PRE_FLIST_ARGS}
    {FLISTS} \
    {TOP} \
    {POST_FLIST_ARGS} \
    "${compile_args[@]}" \
    -o ./simv

./simv "${wave_args[@]}" "${run_args[@]}"

if (( launch_wave_viewer )); then
    {WAVE_VIEWER_COMMAND} -ssf waves.fsdb
fi
